# CORS header
Header set Access-Control-Allow-Origin "*"
Header set Access-Control-Allow-Methods "GET,PUT,PATCH,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"

# fix HTTP_AUTHORIZATION header
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

Options -Indexes

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f 

# Users
RewriteRule ^users$ Controller/user.php [L]

# Authentication
RewriteRule ^sessions/([0-9]+)$ Controller/session.php?sessionid=$1 [L]
RewriteRule ^sessions$ Controller/session.php [L]

# Tasks
RewriteRule ^tasks/([0-9]+)$ Controller/task.php?taskid=$1 [L]
RewriteRule ^tasks/complete$ Controller/task.php?completed=Y [L]
RewriteRule ^tasks/incomplete$ Controller/task.php?completed=N [L]
RewriteRule ^tasks/page/([0-9]+)$ Controller/task.php?page=$1 [L]
RewriteRule ^tasks$ Controller/task.php [L]